input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 12px auto;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 38px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #45a049;
}

.form div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.form {
  width: 25%;
  margin: 50px auto;
}
img.logo {
  width: 100px;
  margin-top: 200px;
  margin-bottom: 40px;
}
.teks {
  font-family: sans-serif;
  text-align: center;
}
div {
  text-align: center;
}
